---
layout: archive
---

{{ content }}

{% assign home = site.data.home %}
<section class="home-intro">
  <h2>{{ home.about.title }}</h2>
  <p>{{ home.about.body }}</p>

  <h2>{{ home.research.title }}</h2>
  <p>{{ home.research.body }}</p>

  <p>
    <strong>{{ home.keywords.title }}:</strong>
    {{ home.keywords.list | join: "; " }}
  </p>
</section>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
